html,
body,
#root {
  height: 100%;
}

:root {
  /* SF Pro (iOS/macOS) + хорошие фолбеки */
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text",
    "Helvetica Neue", Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  background: #f3f3f3; /* можно оставить */

  /* на случай, если где-то вылезет горизонтальный скролл */
  overflow-x: hidden;
}

button,
input,
textarea,
select {
  font-family: inherit;
}