/* БАЗА */
html, body, #root {
    height: 100%;
  }
  
  body {
    margin: 0;
    background: #E9E6E1;
  }
  
  /* Корневой контейнер приложения */
  .appRoot {
    min-height: 100dvh;
    position: relative;
    background: #E9E6E1;
  }
  
  /* Паттерн */
  .headerBg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  
    height: 116px;
  
    background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  
    z-index: 0;
  }
  
  .headerBg--details {
    height: 180px;
  }
  
  /*
    ВАЖНО:
    ContentShell НЕ absolute.
    Он живет в обычном потоке, поэтому:
    - всегда “дотягивается” до низа (min-height)
    - скролл = у страницы, не внутри shell
  */
  .contentShell {
    --shellTop: 116px;
  
    position: relative;
    z-index: 1;
  
    margin-top: var(--shellTop);
  
    background: #fff;
    border-radius: 28px 28px 0 0;
  
    padding: 16px;
    padding-bottom: calc(16px + env(safe-area-inset-bottom));
  
    height: calc(100dvh - var(--shellTop));
  }
  
  .contentShell--details {
    --shellTop: 164px;
    padding-left: 0;
    padding-right: 0;
  }
  
  /* Временная рамка, чтобы видеть границы (потом уберешь) */
  /* .contentShell { outline: 2px solid red; } */