@import "./styles/_components.css";
*, *::before, *::after {
  box-sizing: border-box;
}
:root {
  color-scheme: light;
}

* { box-sizing: border-box; }

/* index.css */
html, body, #root { height: 100%; }

body{
  margin: 0;
  display: block;      /* ВАЖНО: убираем grid */
  background: #f3f3f3; /* можно оставить */
}